* {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
}

.bold {
  font-weight: bold;
}

.white {
  color: white;
}

.header {
  background-image: url("../images/the-flatiron-building.png")
}

ul {
  list-style: none;
}

li {
  margin-bottom: 18px;
}

li a {
  color: white;
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.footer p {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}
